<!DOCTYPE html>
<html lang="en">


<head>
  <%- include('layouts/header'); -%>
</head>
<body>
<div class="page">
<nav id="colorlib-main-nav" role="navigation">
<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
<div class="js-fullheight colorlib-table">
<div class="img" style="background-image:url(images/xbg_2.jpg.pagespeed.ic.XzSUmYNd52.jpg)"></div>
<div class="colorlib-table-cell js-fullheight">
<div class="row no-gutters">
<div class="col-md-12 text-center">
<h1 class="mb-4"><a href="/" class="logo">Daintree<br><span>Be Memorable</span></a></h1>
<%- include('layouts/navbar'); -%>
</div>
</div>
</div>
</div>
</nav>
<div id="colorlib-page">
<header>
<div class="colorlib-navbar-brand">
  <a class="colorlib-logo" href="/" style="color: white !Important;">Daintree<br><span style="color: white !important;">Be Memorable</span></a>
</div>
<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
</header>
<section class="hero-wrap" style="background-image:url(images/aboutus.jpeg)" data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
<div class="col-md-8 ftco-animate text-center">
<p class="breadcrumbs"><span class="mr-2"><a href="index-2.html">Home</a></span> <span>About</span></p>
<h1 class="mb-5 bread">About Us</h1>
</div>
</div>
</div>
</section>

<section class="ftco-section-2">
  <div class="container-fluid">
    <div class="section-2-blocks-wrapper d-flex row no-gutters">
      <div class="img col-md-6 ftco-animate" style="background-image:url(images/xbg_5.jpg.pagespeed.ic.wCT8sKrOh0.jpg)"></div>
      <div class="text col-md-6 ftco-animate">
        <div class="text-inner align-self-start">
          <h3 class="heading">About  DainTree</h3>
          <p>Always strugling while choosing your outfit? Don't worry, you are at right place, the home of fashion influencers. We at <strong>DainTree</strong> will provide you the best fashion influencers and designers as your personal assistant.</p>
          <ul class="my-4">
            <li><span class="ion-ios-checkmark-circle mr-2"></span> This personal assistant will be a professional fashion designer/influencer who will surely help you out in all possible professional ways.</li>
            <li><span class="ion-ios-checkmark-circle mr-2"></span> Don't waste your time being confused about which outfit will suit your personality best, just fill the form once and get yourself the best fashion influencer.</li>
            <li><span class="ion-ios-checkmark-circle mr-2"></span> Your data is safe with us. We respect your privacy and keep your data safe.</li>
          </ul>
          <div class="row">
            <div class="col-md-7 ftco-animate">
              <div class="img-2 d-flex justify-content-center align-items-center">
                <p><a href="https://forms.gle/6y65hNUZbS4xuHMa9" class="btn btn-primary px-4 py-3">JOIN NOW</a> <a href="https://forms.gle/QSHyjfiGHNWJd9Ee7" class="btn btn-primary btn-outline-primary px-4 py-3">Know More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<%- include('layouts/footer'); -%>

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
</div>

<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalRequestLabel">Request a Quote</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form action="#">
<div class="form-group">
<label for="appointment_name" class="text-black">Full Name</label>
<input type="text" class="form-control" id="appointment_name">
</div>
<div class="form-group">
<label for="appointment_email" class="text-black">Email</label>
<input type="text" class="form-control" id="appointment_email">
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label for="appointment_date" class="text-black">Date</label>
<input type="text" class="form-control" id="appointment_date">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label for="appointment_time" class="text-black">Time</label>
<input type="text" class="form-control" id="appointment_time">
</div>
</div>
</div>
<div class="form-group">
<label for="appointment_message" class="text-black">Message</label>
<textarea name="" id="appointment_message" class="form-control" cols="30" rows="10"></textarea>
</div>
<div class="form-group">
<input type="submit" value="Send Message" class="btn btn-primary">
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<%- include('layouts/scripts'); -%>
</body>


</html>